.todoContainer{
  display: flex;
  background: #333;
  padding:0.8rem;
  border: 1px solid red;
  border-radius: 2px;
}
.divCardTitle{
  background: #333;
  font-size: 1.5rem;
}
.desc{
  font-size: 1.5rem;
  height: 50px;
  width: 25rem;
}
.button{
  margin-left:2rem;
  border-radius:20px;
  width:6rem;
  color:blue;
  font-size: 2rem;
}
.button:hover{
  background: #333;
}
.textTitle{
  color:yellow;
  font-size: 2rem;
}
.textDesc{
  color:#fff;
  font-size: 1.5rem;
}